/*PRE-REQUISITES*/
:root {
    --white: #fff;
    --black: #000;
    --blue: #4CBEFE;
    --off-whitish: #c9c9c9;
    --blackish: #232323;
  }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}   

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--black);
    color: var(--white);
}

.logo{
    height: 40px;
    width: auto;
}

/*HERO SECTION*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 1320px;
    margin-top: 10px;
    background-image: url('lib/bgimg.png');
    border-radius: 20px;
    background-size: cover;
}

.hero .text-wrapper{
    padding: 20px;
    margin-top: 40px;
}

.hero h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

.hero p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--off-whitish);
    text-align: center;
}

.hero .btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-size: 13px;
}

.hero .btn1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: var(--off-whitish);
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    transition: 0.4s;
}

.hero .btn2{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--off-whitish);
    background-color: var(--blackish);
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    transition: 0.4s;
}

.hero .btn2:hover{
    background-color: #222;
    color: var(--white);
    border: 1px solid var(--white);
}

.hero .btn1:hover{
    background-color: var(--white);
    color: var(--black);
}

@media screen and (max-width: 500px) {
    .hero {
        width: 100%;
        overflow-x: hidden;
        height: 500px;
        background-image: url('lib/bgimg.png');
        background-size: cover;
    }
    .hero h1 {
        font-size: 25px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero .btn-group {
        gap: 10px;
    }
    .hero .btn1, .hero .btn2 {
        height: 35px;
        width: 100px;
        font-size: 12px;
    }
    
}

/*FOOTER*/
.footer{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background-color: var(--black);
    color: var(--off-whitish);
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: left;
}
  
.footer .row{
    padding: 1%;
}
  
.footer .col-md-2{
    padding: 1%;
}
  
.footer h1{
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 30px;
    text-align: left;
    font-weight: 500;
}
  
.footer p{
    padding: 1%;
    font-size: 14px;
}

.footer hr{
    margin-top: 30px;
}
  
.footer h2{
    padding: 1%;
    font-size: 18px;
    font-weight: 400;
}
  
.footer img{
    height: 200px;
    width: 75%;
    transition: 0.4s;
    padding-bottom: 2%;
    padding: 1%;
}
  
  .footer img:hover{
    transform: scaleX(1.1) scaleY(1.1);
}